<h2>
  Times
  <button onclick="toggleFilter()" type="button" class="btn btn-dark btn-sm">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-funnel-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
    </svg>
  </button>
  <a href="./detail/excel" target="_blank" rel="noopener noreferrer" type="button" class="btn btn-dark btn-sm">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-arrow-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7 2l.5-2.5 3 3L10 5a1 1 0 0 1-1-1zm-.5 3.5a.5.5 0 0 0-1 0v3.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 11.293V7.5z"/>
    </svg>
  </a>
</h2>

<form id="filter" class="collapsible-content hiding hidden">
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input autocomplete="new-password" type="text" value="{{query.name}}" class="form-control" name="name" id="name" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="owner" class="col-sm-2 col-form-label">Owner</label>
    <div class="col-sm-10">
      <input type="text" value="{{query.owner}}" class="form-control" name="owner" id="owner" placeholder="Owner">
    </div>
  </div>
  <div class="form-group row">
    <label for="project" class="col-sm-2 col-form-label">Project</label>
    <div class="col-sm-10">
      <input type="text" value="{{query.project}}" class="form-control" name="project" id="project" placeholder="Project">
    </div>
  </div>
  <div class="form-group row">
    <label for="project" class="col-sm-2 col-form-label">Date</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input type="datetime-local" value="{{query.from}}" name="from" id="from" placeholder="From" class="form-control">
        <input type="datetime-local" value="{{query.to}}" name="to" id="to" placeholder="To" class="form-control">
      </div>
    </div>
  </div>
  <input type="hidden" id="page" name="page" value="{{page}}"/>
  <button type="submit" class="btn btn-primary">Filter</button>
</form>

<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Owner</th>
        <th scope="col">Project</th>
        <th scope="col">Task</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Hours</th>
      </tr>
    </thead>
    <tbody>
      {{#each times}}
      <tr>
        <th scope="row">{{this.name}}</th>
        <td>{{this.owner}}</td>
        <td>{{this.project}}</td>
        <td>{{this.task}}</td>
        <td>{{this.start}}</td>
        <td>{{this.end}}</td>
        <td>{{this.hours}}</td>
      </tr>
      {{/each}}
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td>Count: {{count}}</td>
        <td></td>
        <td></td>
        <td>Sum: {{total}}{{#if total}}h{{/if}}</td>
      </tr>
    </tbody>
  </table>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    {{#if showPrevious}}<li class="page-item"><a class="page-link bg-dark text-light" onclick="pagination(-1)" href="#">Previous</a></li>{{/if}}
    {{#if showNext}}<li class="page-item"><a class="page-link bg-dark text-light" onclick="pagination(1)" href="#">Next</a></li>{{/if}}
  </ul>
</nav>

<script>
  function toggleFilter () {
    document.getElementById('filter').classList.toggle('hidden')
  }
  function pagination (direction) {
    const newPage = parseInt($('#page').val()) + direction
    $('#page').val(newPage > 0 ? newPage : 0)
    $('#filter').submit()
  }
</script>