<h2>Track</h2>
<form method="POST">
  <div class="form-group">
    <label for="owner">Task owner</label>
    <select onchange="loadProject()" name="owner" class="form-control bg-dark text-light">
      {{#each owners}}
        <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>

  <div id="project-container" class="form-group">
    <label for="project">Project</label>
    <select id="project" name="project" class="form-control bg-dark text-light">
    </select>
  </div>

  <div id="project-container" class="form-group">
    <label for="type">Type</label>
    <select id="type" name="type" class="form-control bg-dark text-light">
      {{#each types}}
      <option value="{{this.id}}">{{this.type}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="task">Task</label>
    <textarea rows="1" type="text" class="form-control bg-dark text-light" name="task" placeholder="Enter task"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Track</button>
</form>

<br/>

<h2>Timeline</h2>
{{> timeline}}
<br>
{{#if isWorking}}<button onclick="stopTracking()" class="btn btn-danger">Stop Tracking</button>{{/if}}

<script>
  {
    // Gets today's times, retrieves the latest and set the default data
    // of the selects to the latest time
    const times = {{{json this.times}}}
    if (times.length > 0) {
      document.getElementsByName('owner')[0].value = times[times.length - 1].owner_id
      document.getElementsByName('project')[0].value = times[times.length - 1].project_id
    }

    function loadProject() {
      const owner = document.getElementsByName('owner')[0].value
      fetch(`/projects/api?ownerId=${owner}`).then(async data => {
        data = await data.json()
        let projectsOption = data.reduce((a, b) => {
          return a + `<option value="${b.id}">${b.name}</option>`
        }, '')

        document.getElementById('project').innerHTML = projectsOption
      })
    }

    function stopTracking() {
      fetch('/', {
        method: 'delete',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({ id: {{userId}} })
      }).then(() => {
        window.location.replace('/')
      })
    }

    loadProject()
  }
</script>
