<h2>
  <a onclick="toggleLoading()" href="/team" class="btn btn-dark btn-sm">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
  </a>
  Users

  <button onclick="toggleFilter()" type="button" class="btn btn-dark btn-sm">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
  </button>
</h2>
<form method="POST" id="post" class="collapsible-content hiding hidden">
  <div class="form-group">
    <label for="name">Full name</label>
    <input type="text" class="form-control" name="name" placeholder="Enter name">
  </div>
  
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" placeholder="Enter username">
  </div>

  <div class="form-group">
    <label for="name">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Enter password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Active</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.name}}</th>
      <td>{{this.username}}</td>
      <td>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="switch{{this.id}}" checked="{{this.active}}">
          <label class="custom-control-label" for="switch{{this.id}}"></label>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<script>
  function toggleFilter () {
    document.getElementById('post').classList.toggle('hidden')
  }
  function pagination (direction) {
    const newPage = parseInt($('#page').val()) + direction
    $('#page').val(newPage > 0 ? newPage : 0)
    $('#filter').submit()
  }
</script>