<h2>
  <a href="/users" type="button" class="btn btn-dark btn-sm">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
  </a>
  {{user.name}}
</h2>
<form method="post">
  <div class="form-group">
    <label for="name">Full name</label>
    <input value="{{user.name}}" autocomplete="new-password" type="text" class="form-control" name="name" placeholder="Enter name">
  </div>
  
  <div class="form-group">
    <label for="username">Username</label>
    <input readonly value="{{user.username}}" type="text" class="form-control" name="username" placeholder="Enter username">
  </div>

  <div class="form-group">
    <label for="role">Role</label>
    <select name="role" class="form-control">
      {{#each roles}}
        <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
          <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bg-dark">
          Are you sure you want to delete this user? This action is irreversible
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button onclick="deleteUser()" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>

</form>

<script>
  function deleteUser() {
    fetch('/users/{{user.id}}', {
      method: 'delete',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify({ id: {{user.id}} })
    }).then(data => {
      switch (data.status) {
        case 200: 
          window.location.replace('/users')
        break
        case 500:
          showAlert('Delete user', 'Unable to delete because there are times related to this user. Deactivate user instead.')
        break
      }
    })
  }
</script>